@import '../../../index.scss';
@import '../../../assets/styles/layout.scss';
@import '../../../assets/styles/button.scss';
@import '../../../assets/styles/typography.scss';
@import '../../../assets/styles/form.scss';

.register {
  @include flex-center;
  flex-direction: column;

  &__heading {
    @include heading;
    @include title;

    margin-bottom: 1.25rem;
  }

  &__form {
    @include form;
  }

  &__form-control {
    @include form-control;
  }

  &__label {
    @include form-label;
  }

  &__input {
    @include form-input;
  }

  &__validation-error {
    @include form-validation-error;
  }

  &__button {
    @include button;
    @include button-md;
    @include button-primary;
    @include form-button;
    
    margin-bottom: .62rem;
  }

  &__radio {
    @include form-radio;
  }

  &__radio-wrapper {
    @include form-control--radio;
  }

  &__message {
    @include form-message;
  }
}

.react-datepicker-wrapper {
  align-self: stretch;
}

.react-datepicker__input-container {
  width: 100%;
  display: flex;
  
  input {
    position: relative;
    width: 100%;
    justify-self: stretch;
  }
}