@import '../../../index.scss';
@import '../../../assets/styles/layout.scss';
@import '../../../assets/styles/button.scss';
@import '../../../assets/styles/typography.scss';
@import '../../../assets/styles/form.scss';

.checkout-complete {

  display: flex;
  flex-wrap: wrap;

  &__heading {
    @include heading;
    @include title;
    
    flex: 1 1 100%;
    padding: .62rem .93rem;
    margin-bottom: .62rem;

    @media only screen and (min-width: $bp-md) {
      margin-bottom: 1.25rem;
    }
  }

  &__order {
    flex: 1 1 100%;
    margin-bottom: .93rem;

    @media only screen and (min-width: $bp-md) {
      margin-bottom: 1.56rem;
    }
  }

  &__order-title {
    font-weight: 700;
    margin: 0 0 .31rem;
    text-align: center;
  }

  &__product-info {
    margin: 0 0 .31rem;
    align-self: center;
    text-align: center;
  }

  &__arriving {
    flex: 1 1 100%;
    font-size: 1.25rem;
    text-align: center;
    margin: 0 0 1.82rem;

    &--bold {
      color: #444;
      font-weight: 700;
    }
  }

  &__button {
    @include button;
    @include button-primary;
    @include button-md;

    justify-self: center;
    flex-basis: auto;
    margin: 0 auto .93rem;

    :disabled {
      cursor: not-allowed;
    }
  }
}