@import '../../../index.scss';
@import '../../../assets/styles/layout.scss';
@import '../../../assets/styles/button.scss';
@import '../../../assets/styles/typography.scss';
@import '../../../assets/styles/form.scss';

.shopping-cart-item { 
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;  
  background-color: #f5f5f5;
  position: relative;
  flex: 1 1 100%;

  @media only screen and (min-width: $bp-md) {
    flex: 1 1 100%;
    height: 12rem;
  }

  &:not(:last-of-type) {
    margin-bottom: 1.25rem;
  }

  &__image-container {
    @include flex-center;
    height: 100%;
    flex: 1 1 100%;
    background-color: #fff;
    height: 19rem;

    @media only screen and (min-width: $bp-md) {
      flex: 1 1 45%;
      height: 100%;
      max-width: 19rem;
      overflow: hidden;
    }
  }

  &__image-wrapper {
    @include flex-center;
    @include anchor-primary;
    height: 100%;
    width: 100%;
    padding: 1.25rem .93rem;
  }

  &__image {
    padding: 0 1.25rem;
    height: auto;
    width: 100%;

    @media only screen and (min-width: $bp-md) {
      height: 100%;
      width: auto;
    }
  }

  &__info {
    flex: 1 1 100%;
    padding: .93rem 1.25rem;

    @media only screen and (min-width: $bp-md) {
      flex: 1 1 50%;
    }
  }

  &__title {
    @include anchor-primary;

    padding: .31rem;
    text-decoration: none;
    display: inline-block;
    font-size: .93rem;
    margin: 0 0 .31rem;
    color: $color-black;

    @media only screen and (min-width: $bp-md) {
      margin-right: 1.82rem;
    }
  }

  &__price {
    display: flex;
    align-items: flex-start;
    margin: 0 0 .62rem;
    font-size: 1.56rem;
    color: #444;
    font-weight: 700;

    &--single {
      margin-left: .62rem;
      
      font-size: .92rem;
      font-weight: 300;
    }
  }

  &__actions {
    @include flex-center;
    align-self: stretch;
    justify-content: flex-start;
    flex-direction: column;
    flex: 1 1 100%;
  }

  &__quantity-wrapper {
    @include flex-center;
    margin-bottom: .93rem;
  }

  &__quantity {
    margin: 0 1.25rem;
  }

  &__button {
    @include button;
    @include button-primary;
    @include flex-center;

    width: 2.12rem;
    height: 2.12rem;
    border-radius: 50%;

    &--quantity {
      width: 1.56rem;
      height: 1.56rem;
    }

    &--remove {
      position: absolute;
      top: .93rem;
      right: .93rem;
    }
  }


  &__icon {
    color: $color-white;
    font-size: 1.56rem;

    &--small {
      font-size: 1rem;
    }
  }
}