@import '../../../index.scss';
@import '../../../assets/styles/layout.scss';
@import '../../../assets/styles/button.scss';
@import '../../../assets/styles/typography.scss';
@import '../../../assets/styles/form.scss';

.simple-card { 
  @include flex-center;
  background-color: $color-white;
  margin-top: .62rem;
  border-left: 5px solid transparent;

  transition: border-color .5s ease;

  &:hover {
    border-left-color: $color-primary;
  }

  &__info {
    flex: 1 1 85%;
    padding: .93rem 1.25rem;

    @media only screen and (min-width: $bp-sm) {
      padding: 1.25rem 1.56rem;
    }
  }

  &__text-wrapper {
    display: flex;
    align-items: center;

    &:not(:last-of-type) {
      margin-bottom: .62rem;
    }
  }

  &__icon {
    margin-right: .63rem;
    color: currentColor;

    &--m0 {
      margin: 0;
    }
  }

  &__text {
    font-size: .93rem;
    margin: 0;
  }

  &__actions {
    @include flex-center;
    align-self: stretch;
    justify-content: flex-start;
    flex-direction: column;
    flex: 1 1 15%;
    padding: .93rem 0;
  }

  &__button {
    @include button;
    @include button-icon-transparent;
    @include flex-center;

    color: $color-gray-dark;
    height: 2.43rem;
    width: 2.43rem;

    &:not(:last-child) {
      margin-bottom: .31rem;
    }
  }

  &__label {
    color: $color-secondary;
    text-transform: uppercase;
    font-weight: 700;
    font-size: .92rem;
    margin-right: .62rem;
  }
}