@import '../../../index.scss';
@import '../../../assets/styles/layout.scss';
@import '../../../assets/styles/button.scss';
@import '../../../assets/styles/typography.scss';
@import '../../../assets/styles/form.scss';

.radio-item {
  display: flex;
  justify-content: stretch;
  align-items: center;
  background-color: $color-white;
  margin-top: .62rem;
  cursor: pointer;

  &__info {
    order: 1;
    cursor: pointer;
    flex: 1 1 85%;
    padding: .93rem .31rem;

    @media only screen and (min-width: $bp-sm) {
      padding: 1.25rem 1.56rem;
    }
  }

  &__text-wrapper {
    display: flex;
    align-items: center;

    &:not(:last-of-type) {
      margin-bottom: .62rem;
    }
  }

  &__icon {
    margin-right: .63rem;
    color: #444;
  }

  &__text {
    font-size: .93rem;
    margin: 0;
  }

  &__radio {
    @include form-radio;
  }

  &__radio-wrapper {
    @include form-control--radio;
  }

  &__radio-container {
    flex: 1 1 100%;
    padding: .93rem;
    padding-left: 3.5rem;
    margin: 0;

    @media only screen and (min-width: $bp-sm) {
      padding-left: 5.5rem;
    }
  }

  &__radio-checkmark {
    left: .62rem;

    @media only screen and (min-width: $bp-sm) {
      left: 1.82rem;
    }
  }

  &__paypal-icon {
    font-size: 1.25rem;
    margin-right: .63rem;
  }

  &__label {
    color: $color-secondary;
    text-transform: uppercase;
    font-weight: 700;
    font-size: .92rem;
    margin-right: .62rem;
  }
  
}

