// VARIABLES

$color-primary: #D01345;
$color-primary-light: #F2BECC;
$color-primary-light-2: #F37295;
$color-primary-dark: #850D2C;
$color-primary-disabled: #B18B95;

$color-secondary: #222;
$color-secondary-light: #555;

$color-black: #222;
$color-white: #fff;

$color-gray: #737373;
$color-gray-dark: #444;
$color-gray-light: #ddd;
$color-gray-light-2: #eee;

$color-error: #ce1948;
$color-error-light: #fae7ec;

$color-success: #547738;
$color-success-light: #EAEEEA;

$color-background: #f1f1f1;
$color-background-light: #fafafa;
$background-color: #f1f1f1;

$font-family-primary: 'Open Sans', sans-serif;

// RESPONSIVE BREAKPOINTS
$bp-xl: 80em; // 1200px
$bp-lg: 62em; // 992px
$bp-md: 48em; // 768px
$bp-sm: 36em;// 576px

html {
  font-size: 16px;
}

html * {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: $font-family-primary;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

// REACT-SELECT STYLES
.select {
  &__control {
    align-self: stretch;

    background-color: #fff;
    color: #333;
  
    border: 1px solid $color-gray;
    border-radius: 0;
    box-shadow: none;
  
    font-size: 1rem;
    font-family: $font-family-primary;
  
    transition: border-color .3s ease, background-color .3s ease;
  
    border-radius: 0;
  }
}

// REACT-PAGINATE STYLES
.pagination {
  display: flex;
  margin-bottom: 1.87rem;
  list-style: none;
  padding: 0;

  &__break-me {
    display: none;
  }
  
  li {
    color: $color-black;
    transition: color .3s;
  }

  a {
    font-weight: 700;
    border: 3px solid transparent;
    outline: none;
    padding: .31rem .53rem;
    min-height: 2.5rem;
    min-width: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    cursor: pointer;

    transition: border-color .3s ease;

    &:focus {
      border-color: $color-primary-light; 
    }

    &:focus:hover {
      border-color: $color-primary; 
    }

    &:hover {
      color: $color-primary-light;
    }

    @media screen and (min-width: $bp-sm) {
      padding: .93rem 1.25rem;
      min-height: 3.75rem;
      min-width: 3.75rem;
    }
  }

  &--active a {
    color: $color-primary;

    &:focus {
      border-color: $color-primary; 
    }

    &:focus:hover {
      border-color: $color-primary-dark;
    }

    &:hover {
      color: $color-primary-dark;
    }
  }
}

// Carousel styles
.alice-carousel__dots-item {
  background-color: $color-primary-light;
}

.alice-carousel__dots-item.__active {
  background-color: $color-primary;
}

.alice-carousel__next-btn-item,
.alice-carousel__prev-btn-item {
  color: $color-primary;
  font-weight: 700;
  text-transform: uppercase;

  transition: color .3s ease;
}

.alice-carousel__next-btn-item:hover,
.alice-carousel__prev-btn-item:hover {
  color: $color-primary-light-2;
}

.alice-carousel__dots {
  margin-top: .31rem;
}
