@import '../../../index.scss';
@import '../../../assets/styles/layout.scss';
@import '../../../assets/styles/button.scss';
@import '../../../assets/styles/typography.scss';

%header-item-size {
  width: 3.12rem;
  height: 3.12rem;
}

.header {
  background-color: #333;
  position: sticky;
  top: 0;
  z-index: 10;

  &__wrapper {
    max-width: 75rem;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: .93rem .93rem;

    @media only screen and (min-width: $bp-md) {
      align-items: center;
    }
  }

  &__branding {
    @include anchor-primary;
    height: 3.12rem;
    margin-right: .93rem;
  }

  &__logo {
    height: 100%;
    width: auto;
  }

  &__mobile {
    @include flex-center;

    @media only screen and (min-width: $bp-md) {
      display: none;
    }
  }

  &__mobile-toggle {
    @include flex-center;
    @include anchor-primary;
    @include button;
    @extend %header-item-size;

    &:hover {
      text-decoration: none;
    }
  }

  &__icon {
    font-size: 1.87rem;
  }

  &__nav {
    flex: 1 1 100%;
    overflow: hidden;
    height: 24.12rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    transition: height 1s ease;

    @media only screen and (min-width: $bp-md) {
      height: auto;
      flex-basis: auto;
      display: flex;
      justify-content: space-between;
    }

    &--hidden {
      height: 0;

      @media only screen and (min-width: $bp-md) {
        height: auto;
      }
    }
  }

  &__inner-nav {
    flex: 1 1 100%;

    @media only screen and (min-width: $bp-md) {
      flex: 0 0 auto;
    }
  }

  &__list {
    @include list-reset;

    display: flex;
    flex-direction: column;

    list-style: none;

    @media only screen and (min-width: $bp-md) {
      flex-direction: row;
      justify-self: flex-end;
    }
  }

  &__list-item {
    @include flex-center;
    position: relative;
    margin-bottom: .62rem;

    @media only screen and (min-width: $bp-md) {
      margin-bottom: 0;
    }
  }

  &__link {
    @include button;
    @include anchor-reset;
    @include flex-center;
    color: #eee;
    padding: .62rem .93rem;
    width: 100%;
    border: 2px solid transparent;

    transition: color .3s ease, background-color .3s ease, border-color .3s ease;

    &:hover {
      text-decoration: underline;
    }

    &:focus {
      border-color: $color-primary-light;
    }

    &--active {
      font-weight: 700;
      color: $color-primary-light-2;

      &:focus {
        border-color: $color-primary;
      }
    }

    &--uppercase {
      text-transform: uppercase;
    }
  }

  &__icon {
    color: $color-white;
    font-size: 1.56rem;

    transition: color .3s ease;
  }

  &__shopping-cart {
    @include flex-center;
    position: absolute;
    background-color: $color-primary;
    color: #eee;
    width: 1.56rem;
    height: 1.56rem;
    border-radius: 50%;
    top: 0;
    right: 39%;

    @media only screen and (min-width: $bp-md) {
      right: 0;
    }
  }

  &__shopping-count {
    font-size: .75rem;
  }

  &__button {
    @include button;
    background-color: transparent;
  }
}