@import '../../../index.scss';
@import '../../../assets/styles/layout.scss';
@import '../../../assets/styles/button.scss';
@import '../../../assets/styles/typography.scss';
@import '../../../assets/styles/form.scss';

.wish-list-item { 
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;  
  background-color: #f5f5f5;
  position: relative;
  flex: 1 1 100%;

  @media only screen and (min-width: $bp-md) {
    flex: 1 1 100%;
    height: 14rem;
  }

  &:not(:last-of-type) {
    margin-bottom: 1.25rem;
  }

  &__image-container {
    @include flex-center;
    height: 100%;
    flex: 1 1 100%;
    background-color: #fff;
    height: 19rem;

    @media only screen and (min-width: $bp-md) {
      flex: 1 1 45%;
      height: 100%;
      max-width: 19rem;
      overflow: hidden;
    }
  }

  &__image-wrapper {
    @include flex-center;
    @include anchor-primary;
    height: 100%;
    width: 100%;
    padding: 1.25rem .93rem;
  }

  &__image {
    height: auto;
    width: 100%;
    padding: 0 1.25rem;

    @media only screen and (min-width: $bp-md) {
      height: 100%;
      width: auto;
    }
  }

  &__info {
    flex: 1 1 100%;
    padding: .93rem 1.25rem;

    @media only screen and (min-width: $bp-md) {
      flex: 1 1 50%;
    }
  }

  &__title {
    @include anchor-primary;

    padding: .31rem 0;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    font-weight: 300;
    margin: 0 0 .31rem;
    color: $color-black;

    @media only screen and (min-width: $bp-md) {
      margin-right: 1.82rem;
    }
  }

  &__price {
    margin: 0 0 .62rem;
    font-size: 1.56rem;
    color: #444;
    font-weight: 700;
  }

  &__button {
    @include button;
    @include button-md;
    @include button-primary;
    @include flex-center;

    &--remove {
      padding: 0;
      width: 2.12rem;
      height: 2.12rem;
      border-radius: 50%;
      position: absolute;
      top: .93rem;
      right: .93rem;
    }
  }


  &__icon {
    color: $color-white;
    font-size: 1.56rem;

    &--small {
      font-size: 1rem;
    }
  }
}