@import '../../index.scss';
@import '../../assets/styles/layout.scss';
@import '../../assets/styles/button.scss';
@import '../../assets/styles/typography.scss';
@import '../../assets/styles/form.scss';

.order-container {
  @include flex-center;
  flex-wrap: wrap;

  &__heading {
    @include title;

    text-align: center;
    flex: 1 1 100%;
    padding: .62rem .93rem;
    background-color: $color-white;
    margin: 0 0 .62rem;

    @media only screen and (min-width: $bp-md) {
      text-align: left;
      padding: 2.12rem 1.56rem;
    }
  }

  &__loading-wrapper {
    margin-top: 3rem;
  }

  &__wrapper {
    flex: 1 1 100%;
  }
}