@import '../../../index.scss';
@import '../../../assets/styles/layout.scss';
@import '../../../assets/styles/button.scss';
@import '../../../assets/styles/typography.scss';
@import '../../../assets/styles/form.scss';


.gallery-item {
  @include flex-center;
  outline: none;
  flex-wrap: wrap;
  background-color: #fff;
  padding: 1.25rem .93rem;
  text-decoration: none;
  max-width: 15rem;
  margin: 0 auto;
  border: 5px solid transparent;
  transform: translateY(0);

  transition: border-color .3s ease, transform .3s ease;

  &:hover {
    transform: translateY(-1.56rem);
  }

  &:focus {
    border-color: $color-primary-light;
  }

  &:focus:hover {
    border-color: $color-primary;
  }

  &__image-wrapper {
    @include flex-center;
    height: 11rem;
    overflow: hidden;
  }

  &__image {
    height: auto;
    width: 100%;
  }

  &__title {
    flex: 1 1 100%;
    text-align: left;
    font-size: 1rem;
    color: #444;
    font-weight: 300;
    letter-spacing: 1px;

  }
}
