@import '../../../index.scss';
@import '../../../assets/styles/layout.scss';
@import '../../../assets/styles/button.scss';
@import '../../../assets/styles/typography.scss';
@import '../../../assets/styles/form.scss';

.checkout-payment {
  &__heading {
    @include heading;
    @include title;
    
    padding: .62rem .93rem;
    margin-bottom: 1.12rem;
  }

  &__products {
    display: grid;
    grid-template-columns: 5fr 1fr;
    margin-bottom: 1.56rem;
    background-color: $color-white;
    padding: .93rem 1.82rem;

    @media only screen and (min-width: $bp-md) {
      grid-template-columns: 3fr 1fr 1fr 1fr;
    }
  }

  &__product-description {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .62rem;
    border-bottom: 1px solid $color-gray-light-2;

    @media only screen and (min-width: $bp-md) {
      padding: 1.25rem;
    }

    &--desktop {
      display: none;

      @media only screen and (min-width: $bp-md) {
        display: flex;
      }
    }
  }

  &__product-image-wrapper {
    flex-basis: 25%;

    display: none;

    @media only screen and (min-width: $bp-md) {
      display: block;
    }
  }

  &__product-name {
    flex-basis: 100%;

    @media only screen and (min-width: $bp-md) {
      flex-basis: 75%;
    }
  }

  &__product-image {
    width: 100%;
    height: auto;
  }

  &__product-title {
    padding: .93rem;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0;
    text-align: center;
    border-bottom: 1px solid $color-gray-light;

    &--rigth {
      text-align: right;
      border-bottom: none;
    }

    &--desktop {
      display: none;

      @media only screen and (min-width: $bp-md) {
        display: block;
      }
    }
  }

  &__product-info {
    margin: 0;
    align-self: center;
    padding: 0;

    @media only screen and (min-width: $bp-md) {
      padding: 0 .93rem;
    }

    &--center {
      text-align: center;
    }
  }

  &__product-total {
    font-weight: 700;
    justify-self: right;
    margin: 0;
    grid-column: 1 / 3;
  }

  &__product-price {
    margin: 0;
    text-align: right;
  }

  &__actions {
    flex: 1 1 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 1.56rem;
  }

  &__total {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1.25rem;
  }

  &__total-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: $color-white;
    padding: .93rem 1.82rem;
  }

  &__form {
    @include form;
  }

  &__form-control {
    @include form-control;
    max-width: 14rem;
    margin-bottom: 1.25rem;
  }

  &__label {
    @include form-label;
  }

  &__input {
    @include form-input;
  }

  &__validation-error {
    @include form-validation-error;
  }

  &__button {
    @include button;
    @include button-primary;
    @include button-md;

    flex-basis: 45%;
    max-width: 8rem;
    margin-bottom: .93rem;

    :disabled {
      cursor: not-allowed;
    }

    &--big {
      flex-basis: auto;
      max-width: none;
    }
  }

  &__paypal-wrapper {
    flex: 1 1 100%;
  }

  &__paypal {
    margin: 0 auto;
    max-width: 14rem;
  }

  &__message {
    @include form-message;
  }
}