@import '../../index.scss';
@import '../../assets/styles/layout.scss';
@import '../../assets/styles/button.scss';
@import '../../assets/styles/typography.scss';
@import '../../assets/styles/form.scss';

.checkout-step-container {

  max-width: 30rem;
  margin: 0 auto;

  &__heading {
    @include heading;
    @include title;
    
    padding: .62rem .93rem;
    margin-bottom: .62rem;
  }

  &__actions {
    flex: 1 1 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 1.56rem;
  }

  &__button {
    @include button;
    @include button-primary;
    @include button-md;

    flex-basis: 40%;
    max-width: 8rem;
    margin-bottom: .93rem;

    :disabled {
      cursor: not-allowed;
    }

    &--big {
      flex-basis: auto;
      max-width: none;
    }
  }

  &__error-wrapper {
    @include flex-center;
    flex-wrap: wrap;
  }

  &__error {
    flex: 1 1 100%;
    text-align: center;
    font-weight: 300;
    margin-bottom: 1.82rem;
  }

  &__loading {
    margin-top: 3rem;
  }
}