@import '../../../index.scss';
@import '../../../assets/styles/layout.scss';
@import '../../../assets/styles/button.scss';
@import '../../../assets/styles/typography.scss';
@import '../../../assets/styles/form.scss';

.product-item { 
  @include flex-center;
  align-items: flex-start;
  flex-wrap: wrap;

  &__image-container {
    @include flex-center;
    position: relative;
    flex: 1 1 100%;
    height: 22rem;
    background-color: #fff;

    @media only screen and (min-width: $bp-sm) {
      height: 25rem;
    }
  }

  &__image-wrapper {
    @include flex-center;
    border: 3px solid transparent;
    outline: none;
    height: 100%;
    width: 100%;
    padding: 1.25rem .93rem;

    transition: border-color .3s ease;

    &:focus {
      border-color: $color-primary-light;
    }

    &:focus:hover {
      border-color: $color-primary;
    }
  }

  &__image {
    height: auto;
    width: 100%;
  }

  &__info {
    flex: 1 1 100%;
    padding: .31rem 1.25rem;
  }

  &__title {
    @include anchor-primary;

    text-decoration: none;
    display: inline-block;
    font-size: 1.25rem;
    font-weight: 300;
    padding: .31rem 0;
    margin: 0 0 .31rem;
    color: $color-black;
  }

  &__stars {
    display: flex;
    justify-content: flex-start;
  }

  &__price {
    @include heading;
    text-align: left;
    font-size: 1.25rem;
    color: $color-primary;
    margin-bottom: .31rem;
    font-weight: 700;
  }

  &__button {
    @include button;
    @include button-primary;
    @include flex-center;

    width: 2.81rem;
    height: 2.81rem;
    border-radius: 50%;

    position: absolute;
    bottom: .62rem;
    right: .62rem;

    &--top {
      bottom: calc(.62rem * 2 + 2.81rem);
    }
  }

  &__icon {
    color: currentColor;
    font-size: 1.25rem;

    transition: color .3s ease;
  }
}