@import '../../index.scss';
@import '../../assets/styles/layout.scss';
@import '../../assets/styles/button.scss';
@import '../../assets/styles/typography.scss';
@import '../../assets/styles/form.scss';

.account {
  min-height: 100vh;
  padding-bottom: 3.12rem;

  background-color: $color-background;

  @media only screen and (min-width: $bp-sm) {
    padding: .62rem 1.25rem;
  }

  &__wrapper {
    max-width: 62.5rem;
    margin: 0 auto;
  }

  &__header {
    display: flex;
    flex-direction: column;

    @media only screen and (min-width: $bp-sm) {
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin-bottom: 1.25rem;
    }
  }

  &__branding {
    @include flex-center;
    @include anchor-primary;
    
    margin: .62rem 0 .31rem;
    height: 7vh;

    @media only screen and (min-width: $bp-sm) {
      margin: 0;
      margin-right: 1.25rem;
    }
  }

  &__logo {
    height: 100%;
    width: auto;
  }

  &__heading {
    @include heading;
    @include title;

    margin-bottom: .62rem;

    @media only screen and (min-width: $bp-sm) {
      margin: 0;
    }
  }

  &__section {
    @include flex-center;
    flex-wrap: wrap;

    @media only screen and (min-width: $bp-sm) {
      align-items: flex-start;
      justify-content: space-between;
    }
  }

  &__info {
    flex: 1 1 100%;

    @media only screen and (min-width: $bp-sm) {
      flex: 0 0 30%;
    }
  }

  &__profile {
    @include flex-center;
    flex-direction: column;
    padding: .93rem 1.25rem;

    background-color: $color-white;
    margin-bottom: .93rem;

    @media only screen and (min-width: $bp-sm) {
      margin-bottom: .31rem;
    }
  }

  &__image-wrapper {
    height: 3.75rem;
    width: 3.75rem;
    border-radius: 50%;
    background-color: $color-primary;
    margin-bottom: .93rem;
  }

  &__greetings {
    @include heading;
  }

  &__menu {
    background-color: $color-white;
  }

  &__mobile {
    @include flex-center;

    @media only screen and (min-width: $bp-sm) {
      display: none;
    }
  }

  &__mobile-toggle {
    @include flex-center;
    @include button;
    
    width: 3.12rem;
    height: 3.12rem;
  }

  &__icon {
    font-size: 1.87rem;
  }

  &__nav {
    flex: 1 1 100%;
    overflow: hidden;
    height: 12.56rem;

    transition: height 1s ease;

    @media only screen and (min-width: $bp-sm) {
      height: auto;
    }

    &--hidden {
      height: 0;

      @media only screen and (min-width: $bp-sm) {
        height: auto;
      }
    }
  }

  &__list {
    @include list-reset;
    margin-top: .31rem;

    display: flex;
    flex-direction: column;

    list-style: none;
  }

  &__list-item {
    padding: 0;

    &:not(:last-child) {
      .account__tab-text {
        border-bottom: 1px solid $color-gray-light;
      }
    }
  }

  &__nav-button {
    outline: none;
    padding: .31rem .62rem;
    color: $color-black;
    text-decoration: none;
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: 2px solid transparent;

    transition: border .3s ease, background-color .3s ease;

    @media only screen and (min-width: $bp-md) {
      padding: 0 1.25rem;
    }

    &:hover {
      .account__tab-text {
        text-decoration: underline;
      }
    }

    &:focus {
      border: 2px solid $color-primary-light;
    }

    &--active {
      background-color: $color-background-light;
      border: 0;
      border-left: .31rem solid $color-primary;

      &:focus {
        border: 2px solid $color-primary;
      }
    }
  }

  &__tab-text {
    flex: 1 1 auto;
    padding: .93rem 0;
    margin-left: .93rem;
  }

  &__content {
    flex: 1 1 100%;
    margin-top: .93rem;

    @media only screen and (min-width: $bp-sm) {
      flex: 0 0 66%;
      margin-top: 0;
    }
  }
}