@import '../../index.scss';
@import '../../assets/styles/layout.scss';
@import '../../assets/styles/button.scss';
@import '../../assets/styles/typography.scss';
@import '../../assets/styles/form.scss';

.wish-list {
  flex-grow: 1;
  background-color: #fafafa;
  padding: 1.25rem .93rem;

  &__wrapper {
    @include flex-center;
    flex-wrap: wrap;
    max-width: 40rem;
    margin: 0 auto;
  }

  &__heading {
    @include heading;
    @include title;

    font-size: 1.56rem;

    flex: 1 1 100%;
    padding: 2.25rem .93rem;
  }

  &__message {
    margin: 0 0 2.25rem;
    font-weight: 300;
    text-align: center;
  }

  &__item-wrapper {
    @include flex-center;
    flex-wrap: wrap;
    flex: 1 1 100%;
  }

  &__loading {
    margin-top: 3rem;
  }

  &__button {
    @include button;
    @include button-primary;
    @include button-md;

    flex: 1 1 100%;
    margin-bottom: 1.25rem;

    @media only screen and (min-width: $bp-md) {
      flex: 0 0 auto;
    }
  }
}