@import '../../../index.scss';
@import '../../../assets/styles/layout.scss';
@import '../../../assets/styles/button.scss';
@import '../../../assets/styles/typography.scss';
@import '../../../assets/styles/form.scss';

.billing-form {
  @include flex-center;
  flex-direction: column;
  padding: .62rem .93rem;
  background-color: $color-white;

  @media only screen and (min-width: $bp-sm) {
    padding: 1.25rem 1.56rem;
  }

  &__heading {
    @include heading;
    @include title;

    margin: 1.25rem 0;
  }

  &__form {
    @include form;
  }

  &__form-control {
    @include form-control;
  }

  &__label {
    @include form-label;
  }

  &__input {
    @include form-input;
  }

  &__validation-error {
    @include form-validation-error;
  }

  &__button {
    @include button;
    @include button-md;
    @include button-primary;
    @include form-button;

    margin-bottom: .62rem;
  }

  &__message {
    @include form-message;
  }
}