@import '../../index.scss';
@import '../../assets/styles/layout.scss';
@import '../../assets/styles/button.scss';
@import '../../assets/styles/typography.scss';
@import '../../assets/styles/form.scss';

.product {
  @include flex-center;
  flex-grow: 1;
  flex-wrap: wrap;
  padding: 1.25rem;
  max-width: 60rem;
  margin: 0 auto;

  @media only screen and (min-width: $bp-sm) {
    padding: 3.12rem 1.56rem;
  }

  &__breadcrumbs {
    flex-basis: 100%;
    margin-bottom: 1.25rem;
  }

  &__breadcrumb {
    color: #555;
    padding: .31rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: .75rem;
    text-decoration: none;
    @include anchor-primary;

    @media only screen and (min-width: $bp-md) {
      font-size: 1rem;
    }

  }

  &__breadcrumb-separator {
    color: #555;
    font-weight: 700;
    font-size: .75rem;
    margin: 0;

    @media only screen and (min-width: $bp-md) {
      font-size: 1rem;
      margin: 0 .62rem;
    }
  }

  &__name {
    margin: 0 0 .62rem;
    font-size: 1.25rem;
  }

  &__release {
    font-size: .81rem;
    margin: 0;

    &--bold {
      font-weight: 700;
    }
  }

  &__image-wrapper {
    flex: 1 1 100%;
    margin-bottom: 1.25rem;
    max-width: 25rem;

    flex-basis: 100%;

    @media only screen and (min-width: $bp-sm) {
      flex-basis: 50%;
      padding-right: 2.82rem;
      margin-bottom: 0;
    }
  }

  &__image {
    width: 100%;
  }

  &__details {
    display: flex;
    align-items: center;
    margin: 0 0 .93rem;
  }

  &__stars {
    margin-right: .63rem;
  }

  &__main {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-basis: 100%;
    margin-bottom: 1.25rem;

    @media only screen and (min-width: $bp-sm) {
      flex-basis: 50%;
      align-self: flex-start;
      margin-bottom: 2.25rem;
    }
  }

  &__pricing {
    flex-basis: 100%;
    display: flex;
    align-items: center;
    margin-bottom: .93rem;
  }

  &__price {
    margin: 0;
    font-size: 1.56rem;
    color: #444;
    font-weight: 700;
    margin-right: .62rem;

    @media only screen and (min-width: $bp-sm) {
      margin-right: 1.25rem;
    }
  }

  &__left-stock {
    margin: 0;
    color: $color-error;

    &--bold {
      font-weight: 700;
    }
  }

  &__button {
    @include button;
    @include button-md;
    @include button-primary;
    @include flex-center;

    margin-bottom: .93rem;
  }

  &__icon {
    color: $color-white;
    font-size: 1.56rem;
    margin-right: .62rem;
  }

  &__heading-secondary {
    margin: 0;
    @include title;
  }

  &__description {
    font-size: .93rem;
    font-weight: 300;
    margin-top: 2.12rem;

    @media only screen and (min-width: $bp-sm) {
      margin-top: 0;
    }
  }

  &__gallery {
    flex: 1 1 100%;
    max-width: 16.3rem;

    @media only screen and (min-width: $bp-sm) {
      max-width: 32.6rem;
    }

    @media only screen and (min-width: $bp-md) {
      max-width: 41.2rem;
    }

    @media only screen and (min-width: $bp-lg) {
      max-width: 58rem;
    }
  }

  &__reviews {
    margin: 1.82rem 0;
    flex: 1 1 100%;

    @media only screen and (min-width: $bp-sm) {
      margin: 2.52rem 0;
    }
  }

  &__review-title {
    color: #222;
    margin: 0 0 1.82rem;
    font-size: 1.56rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
  }
}