@import '../../index.scss';
@import '../../assets/styles/layout.scss';
@import '../../assets/styles/button.scss';
@import '../../assets/styles/typography.scss';
@import '../../assets/styles/form.scss';

.products-container {
  flex-grow: 1;
  background-color: #fafafa;

  &__container {
    @include flex-center;
    flex-wrap: wrap;
    max-width: 75rem;
    margin: 0 auto;
  }

  &__heading {
    @include heading;
    @include title;

    font-size: 1.56rem;

    flex: 1 1 100%;
    padding: 2.25rem .93rem;
  }

  &__search {
    @include flex-center;
    flex: 1 1 100%;
    margin-bottom: 2.25rem;
  }

  &__breadcrumbs {
    flex-basis: 100%;
    margin-left: .62rem;
    margin-bottom: 1.25rem;

    @media only screen and (min-width: $bp-md) {
      margin-left: 1.12rem;
    }
  }

  &__breadcrumb {
    color: #555;
    padding: .31rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: .75rem;
    text-decoration: none;
    @include anchor-primary;

    @media only screen and (min-width: $bp-md) {
      font-size: 1rem;
    }

  }

  &__breadcrumb-separator {
    color: #555;
    font-weight: 700;
    font-size: .75rem;
    margin: 0;

    @media only screen and (min-width: $bp-md) {
      font-size: 1rem;
      margin: 0 .62rem;
    }
  }

  &__input {
    @include form-input;

    border: 3px solid $color-primary;

    @media only screen and (min-width: $bp-sm) {
      flex-basis: 30%;
    }
  }

  &__button {
    @include button;
    @include button-md;
    @include button-primary;
  }

  &__filters {
    @include flex-center;
    padding: 1.25rem .93rem;
    flex-wrap: wrap;
    flex: 1 1 100%;
    justify-content: space-between;
    background-color: #eee;

    @media only screen and (min-width: $bp-sm) {
      justify-content: space-around;
    }
  }

  &__filter {
    flex: 0 1 100%;
    max-width: 28.12rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    &:not(:last-child) {
      margin-bottom: .63rem;

      @media only screen and (min-width: $bp-sm) {
        margin-bottom: 0;
      }
    }

    @media only screen and (min-width: $bp-sm) {
      flex: 0 1 48%;
    }
  }

  &__label {
    flex: 1 1 100%;
    margin-bottom: 0.62rem;
    font-size: .87rem;
    letter-spacing: 2px;
    color: #666;
    text-transform: uppercase;
    font-weight: 700;
    text-align: left;
    align-self: stretch;
  }

  &__select {
    align-self: stretch;
  }

  &__loading-wrapper {
    margin: 3rem 0;
  }

  &__wrapper {
    flex: 1 1 100%;
    padding: 1.25rem .93rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 1.25rem;

    @media only screen and (min-width: $bp-sm) {
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 2.81rem;
      grid-row-gap: 2.81rem;
    }

    @media only screen and (min-width: $bp-lg) {
      grid-template-columns: 1fr 1fr 1fr;
      grid-column-gap: 3.75rem;
      grid-row-gap: 3.75rem;
    }
  }
}
