@import 'react-alice-carousel/src/alice-carousel.scss';
@import '../../index.scss';
@import '../../assets/styles/layout.scss';
@import '../../assets/styles/button.scss';
@import '../../assets/styles/typography.scss';
@import '../../assets/styles/form.scss';


.gallery {
  width: 100%;
  padding: 1.25rem;
  margin-bottom: 2.12rem;

  &__title {
    @include title;
    margin-bottom: 1.56rem;
  }
}
