@import '../../index.scss';
@import '../../assets/styles/layout.scss';
@import '../../assets/styles/button.scss';
@import '../../assets/styles/typography.scss';
@import '../../assets/styles/form.scss';

.not-found {
  @include flex-center;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 1 1 100%;
  padding: 1.25rem;

  &__svg {

  }

  &__svg-wrapper {
    width: 20%;

    @media only screen and (min-width: $bp-md) {
      width: 10%;
    }
  }

  &__heading {
    @include heading;
    @include title;
    margin-bottom: 1.25rem;

    @media only screen and (min-width: $bp-md) {
      font-size: 1.82rem;
    }
  }

  &__text-wrapper {
    @media only screen and (min-width: $bp-md) {
      margin: 1.25rem 0;
    }
  }

  &__text {
    text-align: center;
    font-weight: 300;
    margin: 0;
  }

  &__nav {

  }

  &__list {
    @include flex-center;

    list-style: none;
    flex-wrap: wrap;
    padding: 0;
  }


  &__list-item {
    @include flex-center;
    flex: 1 1 100%;

    &:not(:last-child) {
      margin-bottom: .62rem;
    }
  }

  &__link {
    @include anchor-primary;

    font-size: 1.25rem;
    font-weight: 700;
    color: $color-primary;
    text-decoration: none;
  }
}