@import '../../index.scss';
@import '../../assets/styles/layout.scss';
@import '../../assets/styles/button.scss';
@import '../../assets/styles/typography.scss';
@import '../../assets/styles/form.scss';

.billing-container {
  @include flex-center;
  flex-wrap: wrap;

  &__top {
    @include account-content-top;
  }

  &__heading {
    @include account-content-title;
  }

  &__button {
    @include button;
    @include button-md;
    @include button-primary;

    flex: 1 1 100%;

    @media only screen and (min-width: $bp-md) {
      flex: 0 0 auto;
    }
  }

  &__loading-wrapper {
    margin-top: 3rem;
  }

  &__wrapper {
    flex: 1 1 100%;
  }
}