@import '../../index.scss';
@import '../../assets/styles/layout.scss';
@import '../../assets/styles/button.scss';
@import '../../assets/styles/typography.scss';
@import '../../assets/styles/form.scss';

.brand {
  flex-grow: 1;
  flex-wrap: wrap;
  max-width: 75rem;
  width: 100%;
  margin: 0 auto;

  &__title {
    @include heading;
    @include title;

    font-size: 1.56rem;

    flex: 1 1 100%;
    padding: 2.25rem .93rem;
  }

  &__card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 1.25rem;
    margin-bottom: 2.12rem;

    @media only screen and (min-width: $bp-lg) {
      padding: 0;
    }
  }

  &__card {
    @include flex-center;
    outline: none;
    flex-wrap: wrap;
    position: relative;
    flex-basis: 100%;
    height: 20rem;
    text-decoration: none;
    overflow: hidden;
    border: 5px solid transparent;
    margin-bottom: 1.25rem;

    transition: border-color .3s ease;

    @media only screen and (min-width: $bp-md) {
      flex-basis: 32%;
      margin-bottom: 0;
    }

    &:focus {
      border-color: $color-primary-light;
    }

    &:focus .brand__card-text {
      opacity: 1;
    }

    &:focus .brand__card-img {
      transform: scale(1.3);
    }

    &:focus:hover {
      border-color: $color-primary;
    }

    &:hover .brand__card-text {
      opacity: 1;
    }

    &:hover .brand__card-img {
      transform: scale(1.3);
    }
  }

  &__card-img {
    width: 100%;
    height: 75%;
    background-size: cover;
    background-position: center;
    transform: scale(1);
    transition: transform .3s ease;

    @media only screen and (min-width: $bp-md) {
      position: absolute;
      height: 100%;
      width: 100%;
    }
  }

  &__card-text {
    @include flex-center;
    margin: 0;
    width: 100%;
    height: 25%;
    padding: .93rem;
    background-color: $color-secondary;
    color: $color-white;
    text-align: center;
    font-weight: 700;
    font-size: 1.56rem;
    z-index: 2;
    text-transform: uppercase;

    transition: opacity .3s ease;

    @media only screen and (min-width: $bp-md) {
      background-color: rgba($color-black, .6);
      height: 100%;
      width: 100%;
      opacity: 0;
    }
  }

  &__gallery {
    flex: 1 1 100%;
    max-width: 16.3rem;
    margin: 0 auto;

    @media only screen and (min-width: $bp-sm) {
      max-width: 32.6rem;
    }

    @media only screen and (min-width: $bp-md) {
      max-width: 41.2rem;
    }

    @media only screen and (min-width: $bp-lg) {
      max-width: 58rem;
    }
  }
}