@import '../../index.scss';
@import '../../assets/styles/layout.scss';
@import '../../assets/styles/button.scss';
@import '../../assets/styles/typography.scss';
@import '../../assets/styles/form.scss';

.landing {
  @include flex-center;
  flex-grow: 1;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
  background-image: linear-gradient(to right,rgba(255, 255, 255, .6),rgba(255, 255, 255, .6)), url('../../assets/images/background/bg4.png');
  background-repeat: repeat;

  &__hero {
    @include flex-center;
    flex: 1 1 100%;
    min-height: 80vh;
    background-color: $color-gray-dark;

    background-image: linear-gradient(to right,rgba(0, 0, 0, .3),rgba(0, 0, 0, .3)), url('../../assets/images/background/header.png');
    background-position: center;
    background-size: cover;
  }

  &__hero-wrapper {
    @include flex-center;
    flex-wrap: wrap;

    @media only screen and (min-width: $bp-md) {
      max-width: 75rem;
    }
  }

  &__logo-wrapper {
    @include flex-center;
    height: 5rem;
    margin-bottom: 1.82rem;

    @media only screen and (min-width: $bp-md) {
      height: 7rem;
    }
  }

  &__logo {
    height: 100%;
    width: auto;
  }

  &__text-wrapper {
    flex: 1 1 100%;
  }

  &__heading-primary {
    @include heading;
    @include title;

    flex: 1 1 100%;
    font-size: 1.12rem;
    color: $color-white;
    max-width: 40rem;
    margin: 0 auto 2.25rem;
    line-height: 2.12rem;

    @media only screen and (min-width: $bp-md) {
      font-size: 1.82rem;
    }
  }

  &__categories {
    @include flex-center;
    flex-direction: column;
    list-style: none;
    margin: 0 auto 2.25rem;
    padding: 0;

    @media only screen and (min-width: $bp-md) {
      flex-direction: row;
    }
  }

  &__category {
    color: $color-white;
    font-size: 1.25rem;
    letter-spacing: 3px;

    @media only screen and (min-width: $bp-md) {
      &:not(:last-child) {

        &::after {
          display: inline;
          content: '\2022';
          margin: 0 1.25rem;
        }
      }
    }
  }

  &__button {
    @include button;
    @include button-md;
    @include button-primary;

    @media only screen and (min-width: $bp-md) {
      @include button-lg;
    }
  }

  &__gallery {
    background-color: $color-white;
    flex: 1 1 100%;
    padding: 0 1.25rem;
    max-width: 17.5rem;

    @media only screen and (min-width: $bp-sm) {
      max-width: 32.6rem;
    }

    @media only screen and (min-width: $bp-md) {
      max-width: 41.2rem;
    }

    @media only screen and (min-width: $bp-lg) {
      max-width: 58rem;
    }
  }
}