@import '../../index.scss';
@import '../../assets/styles/layout.scss';
@import '../../assets/styles/button.scss';
@import '../../assets/styles/typography.scss';
@import '../../assets/styles/form.scss';

.checkout {
  padding: .62rem .93rem;
  flex-grow: 1;
  background-color: #fafafa;

  &__heading {
    @include heading;
    @include heading-primary;
  }

  &__wrapper {
    @include flex-center;
    flex-wrap: wrap;
    max-width: 30rem;
    margin: 0 auto;

    @media only screen and (min-width: $bp-md) {
      max-width: 60rem;
    }
  }

  &__message {
    flex-basis: 100%;
    margin: 0 0 2.25rem;
    font-weight: 300;
    text-align: center;
  }

  &__step {
    flex: 1 1 100%;
    margin-bottom: 1.56rem;
  }

  &__actions {
    flex: 1 1 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  &__button {
    @include button;
    @include button-primary;
    @include button-md;

    flex-basis: 40%;
    max-width: 8rem;
    margin-bottom: .93rem;

    :disabled {
      cursor: not-allowed;
    }

    &--big {
      max-width: none;
      flex-basis: auto;
    }
  }
}