@import '../../index.scss';
@import '../../assets/styles/layout.scss';
@import '../../assets/styles/button.scss';
@import '../../assets/styles/typography.scss';
@import '../../assets/styles/form.scss';

.auth {
  @include flex-center;
  flex-direction: column;

  min-height: 100vh;
  padding-bottom: 3.12rem;

  background-color: $background-color;

  &__branding {
    @include flex-center;
    height: 8vh;
    margin: 1.25rem 0;

    @media only screen and (min-width: $bp-md) {
      height: 15vh;
    }
  }

  &__branding-link {
    @include anchor-primary;
    height: 100%;
  }

  &__logo {
    height: 100%;
    width: auto;
  }

  &__container {
    @include flex-center;
    flex-wrap: wrap;
    max-width: 37.5rem;

    @media only screen and (min-width: $bp-sm) {
      background-color: $color-white;
      padding: 1.25rem 1.56rem;
    }
  }

  &__tabs {
    flex: 1 1 100%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    
    margin: 0 auto 1.25rem;
    background-color: $color-white;
  }

  &__tab {
    @include flex-center;
    @include button;
    @include button-bold;

    outline: none;
    flex: 1 1 50%;
    min-height: 100%;
    padding: .62rem .62rem;
    color: $color-black;

    border: none;
    border-bottom: 3px solid transparent;

    transition: border-color .3s ease;

    @media only screen and (min-width: $bp-sm) {
      padding: .93rem 1.25rem;
      border-bottom-color: $color-black; 
    }

    &:focus {
      border-bottom-color: $color-primary-light;
    }

    &:hover {
      text-decoration: underline;
    }

    &--active {
      border-bottom-color: $color-black;

      @media only screen and (min-width: $bp-sm) {
        border: 3px solid $color-black;
        border-bottom: none;
      }

      &:focus {
        border-bottom-color: $color-primary;

        @media only screen and (min-width: $bp-sm) {
          border-color: $color-primary;
        }
      }
    }
  }

  &__content {
    flex: 1 1 100%;
    background-color: $color-white;
    padding: 1.25rem .93rem;
    margin: 0 auto;

    @media only screen and (min-width: $bp-sm) {
      padding: 2.5rem 2.5rem;
    }
  }
}