@import '../../index.scss';

@mixin button {
  outline: none;
  font-family: $font-family-primary;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  border: 3px solid transparent;
  background-color: transparent;
  box-shadow: none;
  cursor: pointer;

  transition: color .3s ease, background-color .3s ease, border-color .3s ease;

  &:disabled {
    cursor: not-allowed;
  }
}

@mixin button-md {
  padding: .62rem .93rem;
}

@mixin button-lg {
  font-size: 1.25rem;
  padding: .93rem 1.25rem;
  border-width: 5px;
}

@mixin button-primary {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0;
  background-color: $color-primary;
  color: $color-white;
  border-color: $color-primary;

  &:disabled,
  &:disabled:hover {
    background-color: $color-primary-disabled;
    border-color: $color-primary-disabled;
    color: $color-white;
  }

  &:focus {
    border-color: $color-primary-light;
  }

  &:hover {
    background-color: $color-primary-light;
    color: $color-black;
    border-color: $color-primary-light;
  }

  &:hover:focus {
    border-color: $color-primary;
  }
}

@mixin button-secondary {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0;
  background-color: $color-secondary;
  color: $color-white;
  border-color: $color-secondary;

  &:focus {
    border-color: $color-secondary-light;
  }

  &:hover {
    background-color: $color-secondary-light;
    color: $color-white;
    border-color: $color-secondary-light;
  }

  &:hover:focus {
    border-color: $color-secondary;
  }
}

@mixin button-icon-transparent {
  &:focus {
    border-color: $color-primary-light;
  }

  &:hover {
    color: $color-primary;
  }

  &:hover:focus {
    border-color: $color-primary;
  }
}

@mixin button-bold {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0;
}