@import '../../index.scss';
@import './layout.scss';

@mixin form {
  @include flex-center;
  flex-wrap: wrap;

  width: 100%;
}

@mixin form-control {
  flex: 1 1 100%;
  max-width: 28.12rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 1.87rem;

  &:last-of-type {
    margin-bottom: 1.56rem;
  }
}

@mixin form-control--radio {
  display: flex;
  flex-wrap: wrap;
  align-self: stretch;
}

@mixin form-input {
  outline: none;
  align-self: stretch;

  background-color: #fff;
  color: #333;

  border: 1px solid $color-gray;
  box-shadow: none;
  padding: .62rem .93rem;

  min-height: 2.81rem;

  font-size: 1rem;
  font-family: $font-family-primary;

  transition: border-color .3s ease, background-color .3s ease;

  &:focus {
    border: 2px solid $color-primary-light;
    border-color: $color-primary-light;
  }

  &--invalid {
    border: 2px solid $color-error;
  }
}

@mixin form-label {
  margin-bottom: 0.62rem;
  font-size: .87rem;
  letter-spacing: 2px;
  color: $color-gray;
  text-transform: uppercase;
  font-weight: 700;

  &::after {
    content: ':';
    display: inline;
  }
}

@mixin form-validation-error {
  margin: .31rem 0 0;
  font-size: .87rem;
  color: $color-error;
}

@mixin form-radio {
  /* The container */
  &-container {
    display: block;
    flex-basis: 50%;
    position: relative;
    cursor: pointer;
    user-select: none;
    padding: .31rem 0;
    padding-left: calc(1.82rem + .62rem);
    margin-bottom: .62rem;
  }

  /* Hide the browser's default radio button */
  &-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

  /* Create a custom radio button */
  &-checkmark {
    position: absolute;
    top: 50%;
    left: 0;
    height: 1.82rem;
    width: 1.82rem;
    background-color: #eee;
    border: 2px solid #eee;
    border-radius: 50%;

    transform: translateY(-50%);
  }

  /* On mouse-over, add a grey background color */
  &-container:hover input ~ &-checkmark {
    background-color: $color-primary-light;
    border-color: $color-primary-light;
  }

  /* When the radio button is checked, add a blue background */
  &-container input:checked ~ &-checkmark {
    background-color: $color-primary;
    border-color: $color-primary;
  }

  &-container input:focus ~ &-checkmark {
    border-color: $color-primary-disabled;
  }

  &-container input:checked:focus:hover ~ &-checkmark {
    border-color: $color-primary;
    background-color: $color-primary-disabled;
  }

  /* Create the indicator (the dot/circle - hidden when not checked) */
  &-checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  /* Show the indicator (dot/circle) when checked */
  &-container input:checked ~ &-checkmark:after {
    display: block;
  }

  /* Style the indicator (dot/circle) */
  &-container &-checkmark:after {
    top: .56rem;
    left: .56rem;
    width: .5rem;
    height: .5rem;
    border-radius: 50%;
    background: white;
  }
}

@mixin form-message {

  margin: 0 auto;;
  max-width: 28.12rem;
  text-align: center;
  align-self: stretch;
  padding: .31rem;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 700;
  color: $color-success;

  &--error {
    color: $color-error;
  }

  &-text {

  }
}

@mixin form-button {
  flex: 1 1 100%;
  max-width: 28.12rem;
}