@import '../../index.scss';

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin list-reset {
  padding: 0;
  margin: 0;
}

@mixin account-content-top {
  padding: .93rem 1.25rem;
  display: flex;
  flex: 1 1 100%;
  flex-wrap: wrap;
  background-color: $color-white;

  @media only screen and (min-width: $bp-md) {
    padding: 2.12rem 1.56rem;
  }
}
