@import '../../index.scss';

@mixin heading {
  margin: 0;
  text-align: center;
}

@mixin heading-primary {
  font-weight: 300;
  font-size: 2.5rem;
  margin: 1.56rem 0;
  text-transform: uppercase;
}

@mixin title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.56rem;
  letter-spacing: 3px;
}

@mixin anchor-reset {
  text-align: center;
  text-decoration: none;
}

@mixin anchor-primary {
  outline: none;
  border: 3px solid transparent;

  transition: border-color .3s ease;

  &:focus {
    border-color: $color-primary-light;
  }

  &:hover {
    text-decoration: underline;
  }

  &:hover:focus {
    border-color: $color-primary;
  }
}

@mixin account-content-title {
  @include title;
  text-align: center;
  flex: 1 1 100%;
  background-color: $color-white;
  margin: 0 0 .62rem;

  @media only screen and (min-width: $bp-md) {
    text-align: left;
  }
}