@import '../../../index.scss';
@import '../../../assets/styles/layout.scss';
@import '../../../assets/styles/button.scss';
@import '../../../assets/styles/typography.scss';
@import '../../../assets/styles/form.scss';

.account-overview { 
  @include flex-center;

  flex-wrap: wrap;
  min-height: 90vh;
  width: calc(100% - 2.5rem);
  margin: 0 1.25rem;
  background-image: url('https://cdlnws.a.ssl.fastly.net/image/upload/f_auto,q_auto/v1528822799/Gaming_Laptop_vgk6de.jpg');
  background-position: left;
  background-size: cover;

  @media only screen and (min-width: $bp-md) {
    width: 100%;
    margin-bottom: 3rem;
  }

  &__content {
    flex: 1 1 100%;
    margin-left: 1.82rem;
  }

  &__text-wrapper {
    flex: 1 1 100%;

    &:not(:last-child) {
      margin-bottom: .31rem;
    }
  }

  &__text {
    display: inline-block;
    margin: 0;
    font-size: 1.56rem;
    font-weight: 700;
    text-transform: uppercase;
    padding: .62rem .93rem;
    background-color: $color-primary;
    color: $color-white;
  }
}