@import '../../../index.scss';
@import '../../../assets/styles/layout.scss';
@import '../../../assets/styles/button.scss';
@import '../../../assets/styles/typography.scss';
@import '../../../assets/styles/form.scss';

.order-item { 
  display: flex;
  flex-wrap: wrap;
  background-color: #fff;
  border-left: 5px solid $color-primary-light;

  &:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  &--today {
    border-left-color: $color-primary;
  }

  &--delivered {
    border-left-color: $color-secondary;
  }

  &__top {
    flex: 1 1 100%;
    
    padding: 1.25rem;
  }

  &__bar {
    margin-left: 1.25rem;
    flex: 0 0 40%;
    background-color: $color-black;
    height: 1px;
  }

  &__bottom {
    flex: 1 1 100%;
    padding: 1.25rem;
  }

  &__title {
    margin: 0 0 .31rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 4px;
    font-size: 1.12rem;
  }

  &__text {
    margin: 0;
    color: $color-primary;
  }

  &__product-info {
    margin: 0;
    font-weight: 300;
  }
}