@import '../../../index.scss';
@import '../../../assets/styles/layout.scss';
@import '../../../assets/styles/button.scss';
@import '../../../assets/styles/typography.scss';
@import '../../../assets/styles/form.scss';

.footer {
  @include flex-center;
  padding: 1.25rem 1.56rem;
  background-color: #ddd;

  @media only screen and (min-width: $bp-md) {
    padding: 2.82rem 4.37rem;
  }

  &__disclaimer {
    color: $color-black;
    text-align: center;
    font-size: .87rem;
    font-weight: 300;
  }
}