@import '../../../index.scss';
@import '../../../assets/styles/layout.scss';
@import '../../../assets/styles/button.scss';
@import '../../../assets/styles/typography.scss';
@import '../../../assets/styles/form.scss';

.review-item {
  display: flex;
  flex-wrap: wrap;
  padding: .62rem .93rem;
  background-color: #fafafa;
  max-width: 30rem;
  margin: 0 auto 1.82rem;

  @media only screen and (min-width: $bp-sm) {
    padding: 1.25rem 1.56rem;
  }

  &__title {
    flex: 1 1 100%;
    margin: 0 0 .31rem;
    font-size: 1.56rem;
    font-weight: 700;
    color: #444;
  }

  &__user {
    flex: 1 1 100%;
    margin: 0;
    font-size: .81rem;
  }

  &__description {
    flex: 1 1 100%;
    font-weight: 300;
    margin: 1.25rem 0 .62rem;
  }

  &__stars {
    margin: 0 auto;
  }
}